{{- $projectFileUrl := index . "projectFileUrl" -}}
{{- $repo := .Repository -}}
{{- $project := .Project -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ $project.Name }}</title>
</head>
<body>
<table>
    <thead>links for {{ $project.Name }}</thead>
    <tbody>
    {{ range $key, $file := .ProjectFiles }}
        <tr>
            <td>
                <a href="{{ call $projectFileUrl $repo $project $file }}">{{ $file.Name }}</a>
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>
</body>
</html>
